
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "fira sans", sans-serif;
    background-color: blanchedalmond;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/images/img2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
}


table {
    border-color: white;
    margin-left: 20px;     
}
td{
    padding: 8px 16px;
}
.col{
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(164, 246,10);
}
tr{
    background-color: rgb(155,233,255);
    color: black;
    text-align: center;
}
input{
    font-size: 16px;
}