
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "fira sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/images/img2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

/* .fieldset {
    justify-content: center;
    align-items: center;
    display: flex;
} */

#message{
    text-align: center;
}

legend{
    text-align: center;
}

input {
    margin-left: 500px;
}
table {
    border-color: white;
    margin-left: 300px;
    border-radius: 55px;    
}

td{
    border-radius: 50px;
    padding: 8px 16px;
    border-color: blue;
    border-width: 2px;
}

.col{
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(164, 246,10);
}
tr{
    background-color: rgb(155,233,255);
    color: black;
    text-align: center;
}
input{
    font-size: 16px;
}